*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-image: url('images/backgroundpng');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: #141414;
    height: 200vh;
}

a{
    color: white;
    text-decoration: none;
}

/*Quote Section Start*/

.announcement{
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #141414;
}

.announcement p{
    cursor: default;
    display: inline;
}

.hl{
    color: aqua;
}

/*Quote Section Finish*/
/*Navbar Start*/

.navbar{
    background: linear-gradient(to right, rgba(50, 50, 50, 0.7), rgba(40, 40, 40, 0.8));
    height: 40px;
    max-width: 1070px;
    width: 90%;
    padding: 5px;
    position: sticky;
    top: 15px;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    backdrop-filter: blur(25px);
    user-select: none;
}

.stick{
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 40px;
    display: inline-flex;
    float: left;
    border-radius: 50px;
    cursor: pointer;
}

.links{
    float: right;
    margin-right: 10px;
    cursor: default;
}

.links a{
    display: inline-flex;
    line-height: 40px; 
    margin: 0 15px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
    transition-duration: 0.35s;
    font-size: 15px;
    cursor: pointer;
}

.links a:hover{
    color: rgba(255, 255, 255, 1);
    transition-duration: 0.35s
}

.home,.ta,.ab{
    position: relative;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: rgba(50, 50, 50, 0.7);
    cursor: pointer;
    display: none;
    border-radius: 50px;
    right: 0;
    margin: 0 15px;
    line-height: 40px;
}

@media (max-width: 768px) {
    
    .announcement{
        font-size: 16px;
    }

    .icons{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .icons #close{
        display: none;
    }

    .icons #close, .icons #menu{
        margin: 0px;
    }

    #check:checked ~ .icons #menu{
        display: none;
    }

    #check:checked ~ .icons #close{
        display: inline-block;
    }

    .links{
        position: relative;
        z-index: 10;
        width: 150px;
        border-radius: 15px;
        background-color: rgba(45, 45, 45, 0.85);
        height: 0px;
        margin-top: 60px;
        overflow: hidden;
        transition: 0.5s ease;
    }

    #check:checked ~ .links{
        height: 160px;
    }

    .links a{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(25px);
        padding: 0;
        margin: 0px;
        line-height: 50px;
    }

    .home:before,.ta:before,.ab:before{
        display: none;
    }
}

/*Navbar Finish*/

main{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

/*Form Start*/

.formhld{
    width: 90%;
    max-width: 1080px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.former{
    width: 50%;
}

.adtext{
    width: 50%;
    text-align: justify;
}

.adtext p{
    font-size: 17px;
    padding-right: 25px;
}

.form{
    height: 450px; 
    background: rgba(10, 10, 10, 0.75);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid aqua;
    padding: 50px;
}

.form span{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.formh{
    position: absolute;
    color: aqua;
    top: 30px;
}

.l1{
    margin-top: 20px;
}

label{
    color: white;
    font-weight: 700;
    box-sizing: border-box;
}

#get{
    font-size: 12px;
    color: aqua;
}

input[type=text], input[type=email]{
    width: 100%;
    padding: 10px;
    margin: 5px;
}

input[type=text], input[type=email], .form textarea{
    color: black;
}

textarea{
    padding: 10px;
    padding-bottom: 30px;
    width: 100%;
    margin: 5px;
}

input[type=button]{
    padding: 10px;
    margin-top: 20px;
    color: black;
    border: 1px solid white;
    background-color: aqua;
    font-weight: 700;
    border-radius: 2px;
    transition: 0.2s;
}

input[type=button]:hover{
    background-color: rgb(0, 200, 200);
    transition: 0.2s;
}

@media (max-width: 768px) {
    .former{
        width: 90%;
    }

    .formhld{
        max-width: 90%;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .adtext{
        margin-bottom: 25px;
        width: 100%;
    }

    .adtext p{
        font-size: 16px;
        padding-right: 0px;
    }
}

@media (max-width: 575px) {
    .form{
        height: 450px;
        padding: 45px;
    }
}

@media (max-width: 500px) {
    .form{
        height: 450px;
        padding: 40px;
    }
}

@media (max-width: 450px) {
    .form{
        height: 450px;
        padding: 40px;
    }
}

@media (max-width: 420px) {
    .form{  
        height: 480px;
        padding: 35px;
    }
}

/*Form Finish*/
